<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
</head>
<body>
    <h1>Edit Post</h1>
    <% for (var image of post.images) { %>
        <img src="/uploads/<%- image.filename %>" />
        <form action="/posts/<%- post._id %>/delete_image/<%- image.filename %>?_method=delete" method="post">
            <input type="submit" value="X">
        </form>
    <% } %>
    <form action="/posts/<%- post._id %>/add_image" method="post" enctype="multipart/form-data">
        <input type="file" name="image" />
        <input type="submit" value="Add Image" />
    </form>
    <form action="/posts/<%- post._id %>?_method=put" method="post">
        <textarea id="body" name="body"><%- post.body %></textarea>
        <input type="submit" value="Update Post" />
    </form>
    <a href="/posts"><button>Cancel</button></a>
    <form action="/posts/<%- post._id %>?_method=delete" method="post">
        <input type="submit" value="Delete Post" />
    </form>
    <h3>Comments</h3>
    <% for (let comment of post.comments) { %>
        <div>
            <h4><%- comment.author_firstname %> <%- comment.author_lastname %></h4>
            <h5><%- comment.date_created %></h5>
            <p><%- comment.body %></p>
        </div>
    <% } %>
    <form action="/posts/<%- post._id %>/add_comment" method="post">
        <textarea name="comment" id="comment"></textarea>
        <input type="submit" value="Add Comment" />
    </form>
</body>
</html>